.memeGenerator {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow:
    -4px 4px #ef3550,
    -8px 8px #f48fb1,
    -12px 12px #7e57c2,
    -16px 16px #2196f3,
    -20px 20px #26c6da,
    -24px 24px #43a047,
    -28px 28px #eeff41,
    -32px 32px #f9a825,
    -36px 36px #ff5722;
}

h2 {
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow:
    -2px 2px #ef3550,
    -4px 4px #f48fb1,
    -6px 6px #7e57c2,
    -8px 8px #2196f3,
    -10px 10px #26c6da,
    -12px 12px #43a047,
    -14px 14px #eeff41,
    -16px 16px #f9a825,
    -18px 18px #ff5722;
}
body {
  background-color: lightgrey;
}

label {
  margin: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}
